@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
/* Pallet URL: https://coolors.co/505168-f7d488-27233a-3c887e-c4c6e7 */

#front {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #27233A;
}

.wishlist {
    background: #F7D488;
    padding: .5rem;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.wishlist ul {
    padding: 0;
    list-style-type: none;
}

.wishlist li:first-child {
    border-top: 0;
}

.wishlist li {
    padding: .5rem .5rem;
    border-top: 1px solid #505168;
}

.wishlist input[type="checkbox"] {
    /* padding-right: 10rem; */
}
